You've been asked to analyze the district-wide standardized test results. You'll be given access to every student's math and reading scores, as well as various information on the schools they attend. Your responsibility is to aggregate the data to and showcase obvious trends in school performance.

##### Your final report should include each of the following:

### District Summary
- Create a high level snapshot (in table form) of the district's key metrics, including:
    * Total Schools
    * Total Students
    * Total Budget
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)

### School Summary
- Create an overview table that summarizes key metrics about each school, including:
    * School Name
    * School Type
    * Total Students
    * Total School Budget
    * Per Student Budget
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)

### Top Performing Schools (By Passing Rate)
- Create a table that highlights the top 5 performing schools based on Overall Passing Rate. Include:
    * School Name
    * School Type
    * Total Students
    * Total School Budget
    * Per Student Budget
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)

### Bottom Performing Schools (By Passing Rate)
- Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate. Include all of the same metrics as above.
    * School Name
    * School Type
    * Total Students
    * Total School Budget
    * Per Student Budget
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)

### Math Scores by Grade**
- Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    * 9th
    * 10th
    * 11th
    * 12th
    * AT EACH SCHOOL

### Reading Scores by Grade
- Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    * 9th
    * 10th
    * 11th
    * 12th
    * AT EACH SCHOOL

### Scores by School Spending
- Create a table that breaks down school performances based on average Spending Ranges (Per Student); use 4 spending ranges. 
- Include in the table each of the following:
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)

### Scores by School Size
- Create a table that breaks down schools based on a reasonable approximation of school size (Small, Medium, Large).
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)

### Scores by School Type
- Create a table that breaks down schools based on school type (Charter vs. District).
    * Average Math Score
    * Average Reading Score
    * % Passing Math
    * % Passing Reading
    * Overall Passing Rate (Average of Math & Reading)


__As final considerations:__<br>
   >__Use the pandas library and Jupyter Notebook.__<br>
   >__You must submit a link to your Jupyter Notebook with the viewable Data Frames.__<br>
   >__You must include a written description of at least two observable trends based on the data.__<br> 
   >* OBSERVATION 1
   >* OBSERVATION 2

In [21]:
import os
import pandas as pd
import numpy as np

school_path = os.path.join("Resources", "schools_complete.csv")
student_path = os.path.join("Resources", "students_complete.csv")

school_info = pd.read_csv(school_path)
student_info = pd.read_csv(student_path)

In [22]:
primary_df = pd.merge(school_info, student_info, how='outer', on='school_name', sort=False)
primary_df = (primary_df.rename(columns={'school_name': 'School Name', 
                                         'type': 'School Type', 
                                         'size': 'Size', 
                                         'budget': 'Budget', 
                                         'student_name': 'Student',
                                         'grade': 'Grade', 
                                         'gender': 'Gender', 
                                         'reading_score': 'Reading Score', 
                                         'math_score': 'Math Score'}))
# primary_df.head()

In [23]:
school_count = primary_df['School Name'].nunique()
# school_count

In [24]:
school_names = primary_df['School Name'].unique()
# school_names

In [25]:
student_count = primary_df['Student ID'].nunique()
# student_count

In [26]:
total_budget = ((primary_df['Budget']).drop_duplicates()).sum()
# total_budget

In [27]:
avg_math = ((primary_df['Math Score'].sum()) / student_count).round(2)
# avg_math

In [28]:
avg_read = ((primary_df['Reading Score'].sum()) / student_count).round(2)
# avg_read

In [29]:
math_pass = (len(primary_df.loc[primary_df['Math Score'] >= 70]) / student_count) * 100
# math_pass

In [30]:
read_pass = (len(primary_df.loc[primary_df['Reading Score'] >= 70]) / student_count) * 100
# read_pass

In [31]:
overall_pass = (math_pass + read_pass) / 2
# overall_pass

# NOTE:
#     I would validate with client that they want this calculated in this method. 
#     This recommendation carries through all 'Overall' calculations throughout this project.
#     Propose this be calculated as:
#     ((Count of students whose avg math & reading scores >= 70) / total students) * 100
#     This calculates the percentage of all students who passed (by average) rather than a less accurate lump avg formula.
#       *The numbers are -significantly- different:
#         * per overall_pass listed above, results in 80.4%
#         * the overall_avg_pass_pct recommended here and defined below in notes, results in 89.4%
# avg_overall_pass_by_student_df = primary_df
# avg_overall_pass_by_student_df['Student Average'] = (
#     (avg_overall_pass_by_student_df['Math Score'] 
#      + 
#      avg_overall_pass_by_student_df['Reading Score']) 
#      / 2)
# overall_avg_mask = avg_overall_pass_by_student_df['Student Average'] >= 70
# overall_avg_pass_pct = (len(primary_df[overall_avg_mask])/student_count) * 100
# overall_avg_pass_pct

In [32]:
district_summary_dict = ({'Total Schools': [school_count], 
                          'Total Students': [student_count],
                          'Total Budget': [total_budget], 
                          'Average Math Score': [avg_math], 
                          'Average Reading Score': [avg_read], 
                          '% Passing Math': [math_pass], 
                          '% Passing Reading': [read_pass],
                          'Overall Pass Rate': [overall_pass],
                          'SUMMARY': 'District Results'})

district_summary_table_df = pd.DataFrame(district_summary_dict)
district_summary_table_df.set_index('SUMMARY', inplace = True)
district_summary_fin = (district_summary_table_df.style.format(
    {'Total Students': '{0:,d}',
     'Total Budget': '${0:,d}',
     'Average Math Score': '{0:,.1f}',
     'Average Reading Score': '{0:,.1f}',
     '% Passing Math': '{0:,.1f}%',
     '% Passing Reading': '{0:,.1f}%',
     'Overall Pass Rate': '{0:,.1f}%'}))

district_summary_fin

In [33]:
school_groups = primary_df.groupby('School Name')
# school_groups.head()

In [34]:
school_math_list = []
for school in school_names:
    school_mask = primary_df['School Name'] == school
    math_mask = primary_df['Math Score'] >= 70
    school_math_pass_count = len(primary_df[school_mask & math_mask])
    school_math_list.append(school_math_pass_count)
# school_math_list

In [35]:
school_read_list = []
for school in school_names:
    school_mask = primary_df['School Name'] == school
    reading_mask = primary_df['Reading Score'] >= 70
    school_reading_pass_count = len(primary_df[school_mask & reading_mask])
    school_read_list.append(school_reading_pass_count)
# school_read_list

In [36]:
students_per_school = []
for school in school_names:
    test_school_df = primary_df[primary_df['School Name'] == school]
    count = test_school_df['Student ID'].nunique()
    students_per_school.append(count)
# students_per_school

In [37]:
by_school_summary_df = school_groups['School Name', 'School Type', 'Size', 'Budget'].head(1)
by_school_summary_df.set_index('School Name', inplace = True)
by_school_summary_df['Per Student Budget'] = (
    by_school_summary_df['Budget']/by_school_summary_df['Size'])
by_school_summary_df['Average Math Score'] = (
    primary_df.groupby('School Name')['Math Score'].mean())
by_school_summary_df['Average Reading Score'] = (
    primary_df.groupby('School Name')['Reading Score'].mean())
by_school_summary_df['% Passing Math'] = (
    school_math_list / by_school_summary_df['Size'] * 100)
by_school_summary_df['% Passing Reading'] = (
    school_read_list / by_school_summary_df['Size'] * 100)
by_school_summary_df['Overall Pass Rate'] = (
    (by_school_summary_df['% Passing Math'] + by_school_summary_df['% Passing Reading']) / 2)
by_school_summary_df.rename(columns={"Size": "Total Students", "Budget": "Total School Budget"}, inplace = True)
by_school_summary_df.columns.name = 'SUMMARY'








by_school_summary_df

SUMMARY,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
School Name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520

In [40]:
top_5_schools_df = by_school_summary_df.nlargest(5, 'Overall Pass Rate')
top_5_schools_df.columns.name = 'Top Performing Schools'
top_5_schools_df

Top Performing Schools,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [41]:
bottom_5_schools_df = by_school_summary_df.nsmallest(5, 'Overall Pass Rate')
bottom_5_schools_df.columns.name = 'Schools Needing Focus'
bottom_5_schools_df

Schools Needing Focus,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [42]:
frosh_math = primary_df[primary_df['Grade'] == '9th']
frosh_math_df = frosh_math.groupby(['School Name']).mean()
frosh_math_df = frosh_math_df['Math Score'].to_frame()
# frosh_math_df

In [43]:
soph_math = primary_df[primary_df['Grade'] == '10th']
soph_math_df = soph_math.groupby(['School Name']).mean()
soph_math_df = soph_math_df['Math Score'].to_frame()
# soph_math_df

In [44]:
junior_math = primary_df[primary_df['Grade'] == '11th']
junior_math_df = junior_math.groupby(['School Name']).mean()
junior_math_df = junior_math_df['Math Score'].to_frame()
# junior_math_df

In [45]:
senior_math = primary_df[primary_df['Grade'] == '12th']
senior_math_df = senior_math.groupby(['School Name']).mean()
senior_math_df = senior_math_df['Math Score'].to_frame()
# senior_math_df

In [47]:
math_avg_by_school_df = frosh_math_df.merge(soph_math_df, on = 'School Name')
math_avg_by_school_df.rename(columns={"Math Score_x": "9th Grade", "Math Score_y": "10th Grade"}, inplace = True)
math_avg_by_school_df = math_avg_by_school_df.merge(junior_math_df, on = 'School Name')
math_avg_by_school_df.rename(columns={"Math Score": "11th Grade"}, inplace = True)
math_avg_by_school_df = math_avg_by_school_df.merge(senior_math_df, on = 'School Name')
math_avg_by_school_df.rename(columns={"Math Score": "12th Grade"}, inplace = True)
math_avg_by_school_df.columns.name = 'Average Math Scores'
math_avg_by_school_fin = math_avg_by_school_df.style.format('{:,.1f}%')
math_avg_by_school_fin

In [ ]:
frosh_read = primary_df[primary_df['Grade'] == '9th']
frosh_read_df = frosh_read.groupby(['School Name']).mean()
frosh_read_df = frosh_read_df['Reading Score'].to_frame()
# frosh_read_df

In [ ]:
soph_read = primary_df[primary_df['Grade'] == '10th']
soph_read_df = soph_read.groupby(['School Name']).mean()
soph_read_df = soph_read_df['Reading Score'].to_frame()
# soph_read_df

In [ ]:
junior_read = primary_df[primary_df['Grade'] == '11th']
junior_read_df = junior_read.groupby(['School Name']).mean()
junior_read_df = junior_read_df['Reading Score'].to_frame()
# junior_read_df

In [ ]:
senior_read = primary_df[primary_df['Grade'] == '12th']
senior_read_df = senior_read.groupby(['School Name']).mean()
senior_read_df = senior_read_df['Reading Score'].to_frame()
# senior_read_df

In [ ]:
read_avg_by_school_df = frosh_read_df.merge(soph_read_df, on = 'School Name')
read_avg_by_school_df.rename(columns={"Reading Score_x": "9th Grade", "Reading Score_y": "10th Grade"}, inplace = True)
read_avg_by_school_df = read_avg_by_school_df.merge(junior_read_df, on = 'School Name')
read_avg_by_school_df.rename(columns={"Reading Score": "11th Grade"}, inplace = True)
read_avg_by_school_df = read_avg_by_school_df.merge(senior_read_df, on = 'School Name')
read_avg_by_school_df.rename(columns={"Reading Score": "12th Grade"}, inplace = True)
read_avg_by_school_df.columns.name = 'Average Reading Scores'
read_avg_by_school_df

In [ ]:
budget_bounds = [0, 595, 615, 635, 655]
budget_labels = ['< $595', '$595 - $615', '$615 - $635', ' $635+']
per_student_budget_df = by_school_summary_df.reset_index(inplace = False)
per_student_budget_df['Budget per Student'] = (
    pd.cut(per_student_budget_df['Per Student Budget'], budget_bounds, labels = budget_labels))
grp_by_student_budget_df = per_student_budget_df.groupby('Budget per Student').mean()
grp_by_student_budget_df = (
    grp_by_student_budget_df.drop(columns = ['Total Students', 'Total School Budget', 'Per Student Budget']))
grp_by_student_budget_df

In [ ]:
school_size_bounds = [0, 1500, 3000, 5500]
school_size_labels = ['Small (<1500)', 'Medium (1500-3000)', 'Large (3000+)']
per_student_budget_df = by_school_summary_df.reset_index(inplace = False)
per_student_budget_df['School Size (Students)'] = (
    pd.cut(per_student_budget_df['Total Students'], school_size_bounds, labels = school_size_labels))
grp_by_student_budget_df = per_student_budget_df.groupby('School Size (Students)').mean()
grp_by_student_budget_df = (
    grp_by_student_budget_df.drop(columns = ['Total Students', 'Total School Budget', 'Per Student Budget']))
grp_by_student_budget_df

In [ ]:
district_df = pd.DataFrame(by_school_summary_df[by_school_summary_df['School Type'] == 'District'])
# district_df.head()

In [ ]:
district_df.reset_index(inplace = True)
district_df_clean = (
    district_df.drop(columns = ['School Name', 'Total Students', 'Total School Budget', 'Per Student Budget']))
district_summary_fin = pd.DataFrame(district_df_clean.mean()).transpose()
district_summary_fin['School Type'] = 'District'
# district_summary_fin

In [ ]:
charter_df = pd.DataFrame(by_school_summary_df[by_school_summary_df['School Type'] == 'Charter'])
# charter_df.head()

In [ ]:
charter_df.reset_index(inplace = True)
charter_df_clean = (
    charter_df.drop(columns = ['School Name', 'Total Students', 'Total School Budget', 'Per Student Budget']))
charter_summary_fin = pd.DataFrame(charter_df_clean.mean()).transpose()
charter_summary_fin['School Type'] = 'Charter'
# charter_summary_fin

In [ ]:
school_type_summary_df = charter_summary_fin.merge(district_summary_fin, how = 'outer')
school_type_summary_df = school_type_summary_df.set_index('School Type')
school_type_summary_df